@keyframes mail-animation {
  to {
    stroke-dashoffset: 265.2;
  }
}

@keyframes plane-animation {
50% {transform: scale(1,1);}
66% {
    stroke-dashoffset: 0;
      opacity: 1;
      left: calc(50% - 70px);
      top: calc(50% - 65px);
      transform: scale(1.05,1.05);
  }
100% {
      stroke-dashoffset: 0;
      opacity: 0;
      right: 0;
      left: 100%;
      top: 0;
      transform: scale(0.8,0.8);
  }
}

@keyframes circle-animation {
  0% {transform: scale(1,1)}
  20% {transform: scale(1.1,1.1)}
  100% {transform: scale(0,0)}
}

.sending-email {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #835bee;
  color: #FFF;
  z-index: 2;
  border-radius: 0.3em 0.3em 0 0;

  svg {
    stroke: #ECF0F1;
    stroke-width: 2px;
    fill: none;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 40px);
  }

  .ring, .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }

  .ring {
    box-sizing: border-box;
    border: 4px solid #FFF;
    animation: circle-animation 1s .35s ease-out;
    animation-fill-mode: both;

  }

  .circle {
    background: #563295;
    animation: circle-animation 1s ease-in;
    animation-fill-mode: both;

  }

  .mail {
    width: 120px;
    height: 70px;
    stroke-dasharray: 265.2;
    stroke-dashoffset: 0;
    animation: mail-animation 1s linear forwards;
  }

  .plane {
    width: 120px;
    height: 106px;
    stroke-dasharray: 319;
    stroke-dashoffset: 319;
    animation: plane-animation 1s linear 1s forwards;
  }

}
