.datepicker .datepicker-table .datepicker-cell {
    padding: 0.5rem 0.55rem !important;
}

.sidemenu-calendar {
	.dropdown-item {
	    padding: .4em !important;
	}
}


.dropdown-item:focus {
    outline-width: 0 !important;
}