footer.footer {
  border-top: $base-color-light;
  padding: .5em;
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

@include mobile {
  .footer-copyright {
    text-align: center;
  }
}
