.is-justify-content-center {
  display: flex;
  justify-content: center;
}

.is-align-items-center {
  display: flex;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  text-align: center;
  img { 
    width: 100%; 
    height: auto; 
  }
  span {
    color: #FFF;
    font-weight: 500;
    line-height: 44px;
  }
}

.settings-view {
  // max-height: calc(100vh - 7em) !important;
  overflow: auto;
}

.settings-tabs {
  position: relative;
}

.settings-save-btn {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size: 0.60rem !important;
}

.c-pointer {
  cursor: pointer !important;
}
.c-all-scroll {
  cursor: all-scroll !important;
}

.w-100 {
  width: 100%;
}

.display-none {
  display: none;
}

.badge-20 {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  color: $white;
  background: $primary;
  position: absolute;
  left: 15px;
  top: -12px;
}


#filter-modal {
  .animation-content {
    width:100%;
  }
}

// Bulma external margin classes 

.mt-6 {
  margin-top: 6em;
}

.mt-7 {
  margin-top: 7em;
}

.mt-8 {
  margin-top: 8em;
}

.mt-9 {
  margin-top: 9em;
}

.mt-10 {
  margin-top: 10em;
}
