@mixin transition($t) {
  transition: $t 250ms ease-in-out 50ms;
}

aside.navigation-drawer {
  position: absolute;
  top: 0;
  width: $aside-width;
  left: $aside-mobile-width * -1;
  height: calc(100vh - 62px);
  z-index: 40;
  padding: 0;
  box-shadow: $aside-box-shadow;
  background: $aside-background-color;
  margin-top: $aside-margin-top;
  @include transition(padding-left);

  .menu-list {
    li.is-active {
      ul {
        display: block;
      }
    }
    a {

      .icon {
        width: $aside-icon-width;

        &.has-update-mark:after {
          right: ($aside-icon-width / 2) - .85;
        }
      }

      span.menu-item-label {
        display: inline-block;
      }
    }
  }

  .menu-label {
    padding: 0 $default-padding * .5;
    margin-top: $default-padding * .5;
    margin-bottom: $default-padding * .5;
  }
}

@include desktop {
  html {

    .main-content {
      @include transition(padding-left);
    }

    &.nav-menu-space {

      .main-content {
        @include transition(padding-left);
        padding-left: 15em;
      }

      footer.footer {
        padding-left: 16em;
      }

      nav.navbar {
       padding-left: 0em; 
      }

    }

    nav.navbar, body {
      @include transition(padding-left);
    }

    aside.navigation-drawer {
      @include transition(left);
    }

  }

  aside.navigation-drawer.open {
    left: 0;
  }

}

@include touch {

  #app, nav.navbar {
    @include transition(margin-left);
  }

  html {

    body {
      overflow-x: hidden;
    }

    body, #app, nav.navbar {
      width: 100vw;
    }

    aside.navigation-drawer.open {
      @include transition(left);
      left: 0;

      .navigation-drawer-overlay {
        z-index: 0;
        position: absolute;
        width: calc(100vw - 240px);
        height: calc(100vh - 60px);
        margin-left: $aside-width;
        background: rgba(0,0,0,.3);
      }

    }

    aside.navigation-drawer {
      @include transition(left);
      left: $aside-width * -1;
    }
  }
}
