@import "~bulma/sass/utilities/_all";

$size-base: 1rem;
$default-padding: $size-base * 1.5;

$base-color: #2e323a;
$base-color-light: #dbdbdb;

// Set colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$body-background-color: $white;

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$bottom-box-shadow: 0 1px $base-color-light;
$bottom-box-shadow-dark: 0 1px $base-color;



$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-height: 3.25rem;

$menu-item-radius: 0;
$menu-list-link-padding: $size-base * .5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: #4a4a4a;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: #7367f0;
$menu-item-active-background-color: transparent;
$menu-link-color: $link;

$aside-width: $size-base * 15;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: 1px 0 $base-color-light;
$aside-background-color: $white;
$aside-tools-background-color: transparent;
$aside-tools-color: #4a4a4a;
$aside-dropdown-background-color: transparent;
$aside-margin-top: $navbar-height + 0.6rem;


// Email Page
$email-list: #F8F8F8;
$email-list-dark: #191818;
$email-scroll: #CCC;
$email-scroll-dark: #242424;
$email-scroll-bar-dark: #444444;

// Login Page
$login-page-background:rgb(247, 247, 247);
$login-border-hr: rgb(247, 247, 247);
$login-border-hr-dark: #585757;
$dark-mode-login-panel: #4c4a4a;
$login-page-p: hsla(0, 0%, 0%, 0.8);
$login-page-p-soft: hsla(0, 0%, 0%, 0.5);
$login-page-p-dark: #FFF;

$state-colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),    
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

/* Dark Mode */
$dark-mode-background-color: $black-ter;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-color: $white-ter;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: $grey-darker;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: #FFF;
$dark-mode-link-active-color: #7367f0;
$dark-mode-link-hover-color: $white-bis;
$dark-mode-overlay-background-color: rgba($black, .85);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;

