$sidebar-box-shadow: 1px 0px 0px 0px rgba(#dae1e7, 1);
$sidebar-mobile-width: 60px;
$sidebar-mobile-breakpoint: $desktop;
$navbar-height: 61px;


/* LAYOUTS */

.columns {
    &.is-fullheight {
        min-height: calc(100vh - ( #{$navbar-height} - .75rem ));
        max-height: calc(100vh - ( #{$navbar-height} - .75rem ));
        height: calc(100vh - ( #{$navbar-height} - .75rem ));
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        .column {
           overflow-y: auto;
        }
    }
}

.menu-list a.is-active {
    background-color: #FFF !important;
    color: #7367f0 !important
}

/* NAVIGATION MENU */

@media screen and (max-width: 1023px) {
  .b-sidebar {
      .sidebar-content {
          border-right: 1px solid #dae1e7;
          &.is-mini-mobile {
              &:not(.is-mini-expand),
              &.is-mini-expand:not(:hover) {
                  .menu-list {
                      li {
                          a {
                              span:nth-child(2) {
                                  display: none;
                              }
                          }
                          ul {
                              padding-left: 0;
                              li {
                                  a {
                                      display: inline-block;
                                  }
                              }
                          }
                      }
                  }
                  .menu-label:not(:last-child) {
                      margin-bottom: 0;
                  }
              }
          }
      }
  }
}
@media screen and (min-width: 1024px) {
  .b-sidebar {
      .sidebar-content {
          border-right: 1px solid #dae1e7;
          &.is-mini {
              &:not(.is-mini-expand),
              &.is-mini-expand:not(:hover) {
                  .menu-list {
                      li {
                          a {
                              span:nth-child(2) {
                                  display: none;
                              }
                          }
                          ul {
                              padding-left: 0;
                              li {
                                  a {
                                      display: inline-block;
                                  }
                              }
                          }
                      }
                  }
                  .menu-label:not(:last-child) {
                      margin-bottom: 0;
                  }
              }
          }
      }
  }
}